.container-cadastrar-geladinho {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color: #fff;
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

form.cadastro-gela {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2e2d4e;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;
}

form.cadastro-gela input {
  background-color: #363653;
  border: 1px solid #48456c;
  border-radius: 12px;
  height: 50px;
  padding: 0 15px;
  color: #fff;
  font-size: 16px;
  transition: 0.2s;
}

form.cadastro-gela input::placeholder {
  color: #bdbde7;
}

form.cadastro-gela input:focus {
  border-color: #8b8ae1;
  box-shadow: 0 0 6px #8b8ae1;
  outline: none;
}

form.cadastro-gela button {
  background-color: #8b8ae1;
  border: none;
  border-radius: 12px;
  height: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

form.cadastro-gela button.cadastrar-geladinho:hover {
  background-color: #9b9ae8;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(139, 138, 225, 0.3);
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  form.cadastro-gela {
    padding: 25px;
    gap: 15px;
    width: 90%;
  }

  form.cadastro-gela input {
    height: 40px;
    font-size: 14px;
  }

  form.cadastro-gela button {
    height: 40px;
    font-size: 14px;
  }

  form.cadastro-gela button.cadastrar-geladinho {
    font-size: 14px;
  }

  .container-cadastrar-geladinho {
    padding-top: 50px;
  }
}